*{
    margin:0px;
      padding: 0px;
  }
  
  body {
    max-width: 100%;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
  }
  
  header,
  section{
    background-color: #eee;
    padding-top: 30px;
  }
  
  .container{
      max-width: 1440px;
    width: 80%;
    margin: auto;
  
  }
  
  .header_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #nav_toggle{
    display: none;
  }
  
  .nav_toggle{
    position: relative;
    display: none;
    border: 0;
    background: none;
  }
  
  
  .nav_toggle:hover{
    border: none;
    outline: none;
  }
  
  .nav_toggle:active{
    border: none;
    outline: none;
  }
  
  .nav_toggle::before{
    content: '';
    color: black;
  }
  
  .nav_toggle label{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .close{
    display: none;
    }
  
  a{
      text-decoration: none;
      outline: 0;
        color: rgb(0, 0, 0);
        text-transform: uppercase;
  }
  
  .menu{
      display: flex;
      list-style: none;
  }
  
  .menu li:not(:first-child){
    margin-left: 50px;
  }
  
  .menu li a:hover{
      opacity: 0.2;
  }
  
  .menu_user{
    display: flex;
  }
  
  .menu_basket_icon{
    display: -webkit-inline-box;
    }
  
  
  .menu_basket_icon img{
    width: 20px;
  }
  
  .menu_user a:hover{
    opacity: 0.2;
  }
  
  .section_slide{
    background-image: url(../images/slide1.png);
    background-repeat: no-repeat;
    background-position: 80%;
    background-size: contain;
  }
  
  .menu_basket{
    padding-left: 10px;
  }
  
  .radio{
    position: absolute;
    top: 70%;  
    left: 50%;
  } 
  
  .main_text {
    font-size: 55px;
    color: rgb(0, 0, 0);
    line-height: 1;
    padding-bottom: 35px;
  }
  
  .text_slide {
    font-size: 16px;
    color: rgb(40, 49, 54);
    line-height: 1.5;
  }
  
  .slide{
    position: relative;
  }
  
  .image_slide img{
    display: block;
  }
  
  .table_1{
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
    border-bottom: 1px solid #eee;
  }
  
  .block_1,
  .block_2,
  .block_3{
      width: 300px;
  }
  
  button{
    font-size: 13px;
    color: rgb(255, 255, 255);
    line-height: 1.125;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 40px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    border-radius: 2px;
  }
  
  button:hover{
    border: none;
    outline: none;
  }
  
  button:active{
    border: none;
    outline: none;
  }
  
  .more_button{
    padding: 20px 60px;
    margin-top: 40px;
    margin-bottom: 80px;
  }
  
  .red{
      background-color: #fb565a;
    margin-top: 40px;
  }
  
  .green{
      background-color: #00ca74;
    margin-top: 40px;
  }
  
  .yellow{
      background-color: #efc84a;
    margin-top: 40px;
  }
  
  button.red:hover,
  button.green:hover,
  button.yellow:hover{
    opacity: 0.7;
  }
  
  .text_main_table {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.25;
    padding: 30px 0;
  }
  
  .block_5{
      margin-left: 70px;
  }
  
  .text_we{
    font-size: 45px;
    line-height: 1;
    padding-bottom: 40px;
  }
  
  .text_2_table{
    color: rgb(40, 49, 54);
    line-height: 1.5;
  }
  
  .uppercase{
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.5;
  }
  
  .text-z{
    padding: 50px 0 40px 0;
  }
  
  .text-y{
    padding: 40px 0 50px 0;
  }
  
  .item-text:not(:last-child){
    padding-bottom: 40px;
  }
  
  .dash{
    color: #fb565a;
  }
  
  .position{
      display: inline-flex;
  }
  
  .percent{
    font-size: 45px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 0.224;
  }
  
  .text-percent{
    padding-top: 30px;
    line-height: 1.125;
  }
  
  .company{
    align-items: center;
  }
  
  .icon_company:hover{
      opacity: 0.2;
  }
  
  .position > div:not(:last-child){
    padding-right: 20px;
  }
  
  .map-iframe{
    overflow:hidden;
    padding-bottom: 40%;
    position: relative;
    height: 0;
    margin-bottom: -90px;
  }
  
  .iframe{
    width: 100%;
    position: absolute;
  }
  
  iframe{
    width: 100%;
  }
  
  .map_address{
    position: absolute;
    left: 10%;
    top: 80px;
      display: inline-block;
      background-color: white;
      padding: 50px 50px 47px;
    z-index: 1;
  }
  
  .uppercase_2{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.667;
  }
  
  .text_2_table_2{
    color: rgb(102, 102, 102);
    line-height: 1.125;
    margin-top: 15px;
  }
  
  .adress_text{
    padding-bottom: 20px;
  }
  
  .footer{
    display: flex;
    align-items: center;
    padding: 70px 0;
    position: relative;
    justify-content: space-around;
  }
  
  .footer_icon{
    display: inline-flex;
    justify-content: space-between;
  }
  
  .icon_footer{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #e1e1e1;
  }
  
  .icon_footer:hover{
    background-color: #fb565a;
  }
  
  .vk_item{
    background-image: url(../images/vk-icon.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  
  .in_item{
    background-image: url(../images/insta-icon.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  
  .fb_item{
    background-image: url(../images/fb-icon.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  
  .icon_footer.vk_item,
  .icon_footer.fb_item{
    margin-right: 12px;
  }
  
  .footer_info{
    left: calc(50% - 171px);
  }
  
  .main_footer_text {
    font-size: 26px;
    font-weight: bold;
    line-height: 1;
    padding-bottom: 15px;
  }
  
  .footer_text{
    color: rgb(68, 68, 68);
    line-height: 1.375;
  }
  
  .footerNav a{
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  
  .footerNav a:hover{
    opacity: 0.2;
  
  }